.futures {
  @extend %section !optional;
}

.future__list {
  


  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 0;

    & .future__item+.future__item {
      margin-left: 30px;
    }
  }
}

.future__pct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  
    height: 120px;
    background-color: var(--filter-color);

    @media screen and (min-width: 768px) {
      width: 354px;
     }

    @media screen and (min-width: 1200px) {
     width: 270px;
    }
  }
  
  
  
  .future__item {
    @media screen and (max-width: 767px){

    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  .future__item:not(:last-child) {
    @media screen and (max-width: 767px){
      margin-bottom: 30px;
    }
  }
  
  .futures__label {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  
  .futures__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
  }

  .wrapper {
    position: relative;
    
    &__overlay-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-bgr);
      
      padding-top: 27px;
      padding-bottom: 27px;
    }

    &__overlay-dsc {
      position: absolute;
      left: 0;
      bottom: 0;
    
      width: 100%;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
  
  