.filter-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .list-object {
    width: 370px;
  }
  
  .list-link {
    display: block;
    text-decoration: none;
  
    transition: box-shadow var(--trns-effect);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  
  .list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text);
    text-decoration: none;
  }
  .list-link{
    position: relative;
  }
  .team-thumb {
    position: relative;
  
    overflow: hidden;
  }
  
  .title-brd {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 24px;
  }
  
  .list-descrpt {
    display: block;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
    text-decoration: none;
  }