.main__hero {
    max-width: 1600px;
    background-color: #C4C4C4;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right,
    rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../images/hero-sm@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-device-pixel-ratio: 2), 
    screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx)
     {
        background-image:linear-gradient(to right,
        rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../images/hero-sm@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image:  linear-gradient(to right,
      rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../images/hero-md@1x.jpg);

      @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution:192dpi),
        screen and (min-resolution: 2dppx)
     {
        background-image: linear-gradient(to right,
        rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../images/hero-md@2x.jpg);
    }
    }
    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to right,
      rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../images/hero-lg@1x.jpg);

      @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution:192dpi),
        screen and (min-resolution: 2dppx)
     {
        background-image: linear-gradient(to right,
        rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../images/hero-lg@2x.jpg);
    }
    }
  }
  .hero__item {
    justify-content: center;
  }
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bgr);
    margin-bottom: 30px;
    width: 100%;

    @media screen and (min-width: 1200px){
      font-size: 44px;
      line-height: 1.34;
    }
  }
  
  .hero__btn {
    min-width: 216px;
    padding: 10px 32px;
    border-color: transparent;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--logo-color);
    color: var(--primary-bgr);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    transition: background-color var(--trns-effect);
    
    &:hover,
    &:focus {
      background-color: var(--hero-button);
    }
  }
  
  